@tailwind base;
@tailwind components;
@tailwind utilities;

.mainpage_login {
    width: 100%;
    /* background-image: url('./Images/240_F_679366938_cV8oV4T0VLalbIn3KWU0PP8HYiGRRjYb.jpg'); */
    background-image: url('./Images/backlogin.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.light {
    background-color: #fff;
    color: #000;
}

.dark {
    background-color: #000;
    color: #Fff;
}

.slick-slide>div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.slick-slide>div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}


.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 7px solid #f3f3f3;
    border-top: 7px solid hsl(210, 100%, 50%);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}